script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
script(src='js/validate.js')
script(src='js/bootstrap.min.js')
script(src='js/client.js')
script(src='js/timeago.js')
script(type="text/javascript").
    jQuery(document).ready(function() {
        $("abbr.timeago").timeago();
    });

